
/*установить модель расчёта размеров блоков*/
html{	
	box-sizing: border-box;
}
*,*::before,*::after{
	box-sizing: inherit;
}

/*настройки для картинок*/
img {
	max-whith: 100%;	
	hight: auto;
}


/* open-sans-300 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-300italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}




/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

	.wrap-main{
		height: 9895px;
		font-family: Open Sans;
	}

	a{
		text-decoration: none;
		color: #212121;
	}

/*------    start top-bar    ------*/
	.wrap-top-bar{
		width: 100%;
		background-color: #FFFFFF;
		position: absolute;
		z-index: 99;
	}

	.top-bar{
		max-width: 1170px;
		height: 122px;
		margin: 0px auto;
		display: flex;
		
	}

	.your-logo,
	.your-logo a {
		flex-basis: 575px;
		align-self: center;
		font-size: 25px;
		color: #212121;
		text-decoration: none;
		font-weight: bold;	
	}

	.wrap-top-menu {
		width: 100%;
	 	/*height: 100%;*/

	}

	.top-menu__ul {
		display: flex;
	 	justify-content: space-between;
	 	height: 100%;
	 	align-items: center;
	 }

	.top-menu__home {}
	.top-menu__about {}
	.top-menu__servicing {}
	.top-menu__portfoli {}
	.top-menu__blog {}
	.top-menu__contact-us {}

	.top-bar__serch {
		flex-basis: 165px;
		display: flex;
		align-items: center;
		padding: 25px;
	}

	.top-menu__ul a {
		font-family: "Open Sans";
		font-size: 22px;
		font-weight: bold;
	}

	.serch-icon::before{
		content: url(../img/serch.png)
	}
/*------    end top-bar    ------*/

/*-----    start heder    -----*/
	
	.wrap-heder{
		width: 100%;
		height: 777px;
		background-color: rgb(0,0,0);
		display: flex;
		position: relative;
		overflow: hidden;
	}

	.wrap-heder img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: -30px -10px;
		opacity: 0.45;
		position: absolute;
		top: 0px;
		left: 0px;

		transform: scale(1.1,1.1);
	}

	.wrap-main-text-heder{
		position: absolute;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		text-align: center;
		color: #ffffff;
		align-self: center;

	}

	.main-text-heder {
		margin-bottom: 40px;  
		font-size: 50px;
		letter-spacing: 2px;
	}
	.text-heder {
		font-size: 18px;
	}
	.buttons-heder {
		position: relative;
		top: 110px;
	}

	.buttons-heder button{
		width: 220px;
		height: 70px;
		font-size: 22px;
		color: #ffffff;
	}

	#our-services{
		border: 2px solid #ffffff;
		background-color: rgba(255,255,255,0);
		margin-right: 12px;
	}

	#hire-is-now{
		border: none;
		background-color: rgb(0,137,123);
		margin-left: 12px;
	}

	.down-bar{
		position: absolute;
		width: 0px;
		left: -10px;
		right: 0px;
		margin: 0px auto;

		top: 300px;

	}

	.down-bar a::before{
			content: url(../img/down-bar.png)
		}
/*-----    end heder    -----*/

/*-----    start about-us    -----*/
	.wrap-about-us{
		height: 675px;

	}

	.wrap-about-us_text {
		width: 620px;
		margin: 0px auto;
		text-align: center;
		position: relative;
		top: 125px;
	}

	.about-us__title{
		font-size: 30px;
		font-weight: bold;
		display: block;
	}

	.about-us__text{
		font-size: 22px;
		display: block;
		position: relative;
		top: 40px;

	}

	.wrap-designs {
		height: 335px;
		position: relative;
		top: 240px;
		display: flex;
		justify-content: space-evenly;
	}

	.design {
		width: 280px;
		height: 100%;
		text-align: center;
	}

	.design span{
		display: block;
		font-family: "Open Sans";
	}

	.design_title{
		font-size: 20px;
		font-weight: bold;
		position: relative;
		top: 45px;
	}

	.design_text{
		font-size: 15px;
		position: relative;
		top: 80px;

	}
/*-----    end  about-us    -----*/


/*-----    start wrap-services    -----*/

	.wrap-services{
		background: #e4fdf9; 
		width: 100%;
		height: 1435px;
	}

	.wrap-services_text {
			width: 700px;
			min-height: 130px;
			overflow: hidden;
			margin: 0px auto;
			text-align: center;
			position: relative;
			top: 179px;
		}

	.wrap-services__title{
		font-size: 30px;
		font-weight: bold;
		display: block;
	}

	.wrap-services__text{
		font-size: 22px;
		display: block;
		position: relative;
		top: 30px;

	}

	.wrap-cards-product{
		width: 1170px;
		height: 906px;
		left: 0px;
		right: 0px;
		position: relative;
		top: 285px;		
		margin: 0px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;

	}

	.card-product {
		width: 370px;
		height: 435px;
		background: #ffffff;
		text-align: center;
	}

	.card-product__icon {
		margin: 60px 0px 40px 0px;
	}

	.card-product__title {
		font-size: 20px;
		font-weight: bold;
	}

	.card-product__text {
		font-size: 15px;
		margin: 30px 50px 45px 50px;
	}

	.card-product__button {
		border: 2px solid black;
		height: 55px;
		width: 150px;
		font-size: 20px;
		font-weight: bold;
	}

	.card-product:hover,
	.card-product__title:hover,
	.card-product__text:hover{
		background: #00897b;
		color: #ffffff;
	}

	.card-product:hover button{
		border: 2px solid #ffffff;
		background: #00897b;
		color: #ffffff;
		cursor: url(../img/cursor.png), pointer;
	}

	.card-product span::before{
			content: url(../img/card-product.png)
		}

	.card-product:hover span::before{
			content: url(../img/card-product-white.png)
		}


/*-----    end  wrap-services    -----*/

/*-----    start  latest-works    -----*/

	.wrap-latest-works{
		width: 100%;
		height: 1616px;
	}

	.wrap-latest-works_text{
			width: 700px;
			min-height: 130px;
			overflow: hidden;
			margin: 0px auto;
			text-align: center;
			position: relative;
			top: 130px;		
	}

	.wrap-latest-works-button{
		/*border: 1px solid blue;*/
		width: 690px;
		height: 55px;
		position: relative;
		top: 235px;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		display: flex;
		justify-content: space-between; 
	}

	.latest-works-button{
		height: 55px;
		background: #ffffff;
		width: 179px;
		border: 2px solid #00897b;

		font-size: 20px;
		font-weight: bold;
	}

	#button-all {
		width: 100px;
		background: #00897b;
		color: #ffffff;
		font-weight: normal;
	}

	.latest-works-button:hover{
		background: #00897b;
		color: #ffffff;
		cursor: url(../img/cursor.png), pointer;
	}

	.wrap-latest-work-cards{
		width: 1170px;
		height: 770px;
		left: 0px;
		right: 0px;
		position: relative;
		top: 325px;		
		margin: 0px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;		
	}

	.latest-work-card{
		width: 370px;
		height: 370px;
		background: #ffffff;
		text-align: center;

		display: flex;
		justify-content: center;
	}

	.latest-work-card img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.wrap-latest-work-card__text{
		position: absolute;
		align-self: center;
	}

	.wrap-latest-work-card__text span{
		display: block;
		color: #ffffff;
		letter-spacing: 2px;
	}

	.latest-work-card-1__text_title{
		font-size: 20px;
		font-weight: bold;	

		position: relative;
		top: -20px;
	}

	.latest-work-card-1__text_text{
		position: relative;
		top: -10px;
	}

	#latest-work-card-1 img{
		object-position: -10px 0px;
	}

	#latest-work-card-1{
		background: rgba(0,0,0,1.0);
	}

	.wrap-button-view-all{
		position: relative;
		top: 455px;
		display: flex;
		justify-content: center;

	}

	.wrap-button-view-all button{
		background: #00897b;
		color: #ffffff;		
	}

/*-----    end  latest-works    -----*/

/*-----    start  prising plan    -----*/
	.wrap-prising-plan{
		background: #f0f1f1;
		width: 100%;
		height: 1145px;
	}

	.wrap-prising-plan-cards{
		width: 100%;
		height: 1145px;
		width: 1170px;
		height: 665px;
		left: 0px;
		right: 0px;
		position: relative;
		top: 254px;		
		margin: 0px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;	
	}

	.prising-plan-card{
		height: 100%;
		position: relative;
		text-align: center;
		/*border: 1px solid #3949ab;*/
	}

	.trapezium{
		 height: 175px;
		 width: 100%;
		 color: #ffffff;
		 position: absolute;
		 left: 0px;
		 background: #3949ab;
		 position: relative;
	}

	.trapezium:after{
		content: '';
		display: block;
		background: #3949ab;
		width: 100%;
		height: 33px;
		position: absolute;
		top: 100%;
		left: 0px;
		transform: skewY(-5deg);
		transform-origin: left;
	}

	.trapezium-title{
		font-size: 25px;
		letter-spacing: 1px;
		position: relative;
		top: 45px;	
	}

	.trapezium-text{
		position: relative;
		top: 70px;
	}

	.znak{
		font-size: 25px;
		position: relative;
		top: -20px;
	}

	.pris{
		font-size: 50px;
		letter-spacing: 1px;
	}

	.per-month{
		font-size: 17px;

	}

	.prising-plan-cards-button{
		position: absolute;
		top: 545px;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		width: 180px;

	}


	.prising-plan-cards-text{
		position: absolute;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		top: 260px;

		height: 230px;
		width: 180px;
	}

	.prising-plan-cards-text__str{
		border-bottom: 1px solid #bfbfbf;
		height: 57px;
		width: 100%;

		font-size: 17px;
		/*letter-spacing: 1px;	*/

		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.prising-plan-card:hover{


		box-shadow: 3px 3px 25px 0px rgba(0,0,0,0.35);

	}

	.prising-plan-card:hover button{
		background: #00897b;
		color: #ffffff;
		cursor: url(../img/cursor.png), pointer;
		border: none;
	}

/*-----    end  prising plan    -----*/


/*-----    start  our team member    -----*/

	.wrap-our-team-member{
		width: 100%;
		height: 1094px;
		position: relative;
	}

	.wrap-our-team-member-card{
		height: 480px;
		top: 280px;
	}

	.our-team-member-card{
		height: 100%;

		position: relative;

	}

	.our-team-member-card__foto{
		height: 320px;
		border-radius: 7px;
		overflow: hidden;
	}

	.our-team-member-card__text{
		width: 100%;
		height: 47px;
		position: absolute;
		top: 355px;

	}

	.our-team-member-card__text span{
		display: block;
	}

	.our-team-member-card__text span[class="title"]{
		font-size: 20px;
		font-weight: bold;
	}

	.our-team-member-card__text span[class="text"]{
		font-size: 15px;
		margin-top: 10px; 
	}

	.our-team-member-card__icons{
		width: 100%;
		height: 47px;
		position: absolute;
		top: 440px;		
		display: flex;
		justify-content: space-evenly;
		align-items: center;

	}

	.ico-hover{
		border-radius: 10px;
		width: 50px;
		height: 50px;
		position: relative;
	}

	.ico-hover img{
		position:absolute; 
		left: 0px; 
		width: initial;
		height: initial;
		right: 0px;
		margin: 0px auto;	
		top: 50%;
		transform: translate(0, -50%)			
	}

	.img-hover{
		opacity:0;
	}

	.ico-hover:hover img{
		transform: scale(1.2);
		right: 0px;
		margin: 0px auto;	
		top: 50%;
		transform: translate(0, -50%)		
	}

	.ico-hover:hover .img-main{
		opacity:0;
	}

	.ico-hover:hover .img-hover{
		opacity:1;
	}

	.our-team-member__dots{
		width: 65px;
		height: 20px;
		position: absolute;
		top: 960px;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		display: flex;
		justify-content: space-between;
	}

	.dots-hover{
		width: 33.33%;
		height: 100%;
		position: relative;
	}

	 .dots-hover img{
	 	position: absolute;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		top: 50%;
		transform: translate(0, -50%)		
	 }

	.dots-hover:hover .img-hover{
		opacity:1;
	}

/*-----    end  our team member    -----*/

/*-----    start  blog    -----*/

	.wrap-blog{
		background: #e4fdf9;
		width: 100%;
		height: 1870px;
		position: relative;
	}

	.wrap-blog-card{
		/*border: 1px solid #3803FD;*/
		width: 1171px;
		height: 1201px;
		left: 0px;
		right: 0px;
		top: 270px;		
		position: relative;
		margin: 0px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.blog-card{
		width: 570px;
		height: 400px;
		overflow: hidden;
	}

	.wrap-blog_text{
		width: 450px;
		height: 170px;		
		position: relative;
		top: 60px;
	}

	.blog__title {
		font-size: 25px;
		font-weight: bold;
	}

	.blog-card:hover .blog__title{
		color: #00897b;
	}

	.blog-card a:hover {
		cursor: url(../img/cursor-black.png), pointer;

	}

	.blog-calendar-development {
		position: relative;
		top: 30px;
		font-size: 17px;
		font-weight: bold;
		display: flex;
		justify-content: right;
	}

	.blog-calendar-development img,
	.blog-calendar-development span{
		display: block;
		margin-right: 15px;
	}

	.blog-calendar-development span{
		margin-right: 40px;
	}

	.blog__text {
		position: relative;
		top: 60px;
	}

	.blog-card_button{
		left: 0px;
		right: 0px;
		top: 1670px;		
		position: absolute;
		margin: 0px auto;
		width: 220px;
		height: 70px;
		background: #00897b;
		color: #ffffff;
		font-size: 20px;
		font-weight: bold;
		border: none;
	}

/*-----    end  blog    -----*/

/*-----    start  contact-as    -----*/

	.wrap-contact-as{
		background: rgba(0, 0, 0,1.0);
		width: 100%;
		height: 1255px;
	}

	.contact-as_text{
		color: #ffffff;
	}

	.wrap-contact-as-cards{
		width: 1171px;
		height: 195px;
		left: 0px;
		right: 0px;
		top: 270px;		
		position: relative;
		margin: 0px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}



	.contact-as-card{
		width: 33.33%;
		height: 195px;	
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.wrap-card-img{
		width: 107px;
		height: 107px;	
		position: relative;
	}


	.wrap-card-img img{
		left: 0px;
		right: 0px;
		top: 0px;		
		position: absolute;
		margin: 0px auto;		
		top: 50%;
		transform: translate(0, -50%)
	}

	.card-text span{
		display: block;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 20px;
		color: #ffffff;
	}

	.card-text span:nth-of-type(1){
		margin-bottom: 5px;
	}

	.wrap-contact-as__form{
		width: 1030px;
		height: 550px;
		left: 0px;
		right: 0px;
		top: 270px;		
		position: absolute;
		margin: 0px auto;	
	}

	.contact-as__form{
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
	}

	.contact-as__form input,
	.contact-as__form textarea {
		display: block;
		border-radius: 10px;
	}

	.contact-as__form input{

		width: 500px;
		height: 85px;

	}

	.contact-as__form textarea {

		width: 1030px;
		height: 325px;
		
		font-size: 20px;
		padding-top: 30px;
		padding-left: 20px;
	}

	.wrap-submit{
		/*border: 4px solid red;*/
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	.contact-as__form input{
		padding-left: 20px;
		font-size: 20px;
	}

	.wrap-submit input[type=submit]{
		/*border-radius: 100px;*/		
		width: 220px;
		height: 70px;
		font-weight: bold;
	}
/*-----    end  contact-as    -----*/


.wrap-all-rights-reserved{
	border: 1px solid #FFC619;
	/*background: #A2A29D;*/
	width: 100%;
	height: 63px;
}

