
/*установить модель расчёта размеров блоков*/
html{	
	box-sizing: border-box;
}
*,*::before,*::after{
	box-sizing: inherit;
}

/*настройки для картинок*/
img {
	max-whith: 100%	
	hight: auto;
}


/* open-sans-300 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-300italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}




/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

	.wrap-main{
		height: 9895px;
		font-family: Open Sans;
	}

	a{
		text-decoration: none;
		color: #212121;
	}

/*------    start top-bar    ------*/
	.wrap-top-bar{
		width: 100%;
		background-color: #FFFFFF;
		position: absolute;
		z-index: 99;
	}

	.top-bar{
		max-width: 1170px;
		height: 122px;
		margin: 0px auto;
		display: flex;
		
	}

	.your-logo,
	.your-logo a {
		flex-basis: 575px;
		align-self: center;
		font-size: 25px;
		color: #212121;
		text-decoration: none;
		font-weight: bold;	
	}

	.wrap-top-menu {
		width: 100%;
	 	/*height: 100%;*/

	}

	.top-menu__ul {
		display: flex;
	 	justify-content: space-between;
	 	height: 100%;
	 	align-items: center;
	 }

	.top-menu__home {}
	.top-menu__about {}
	.top-menu__servicing {}
	.top-menu__portfoli {}
	.top-menu__blog {}
	.top-menu__contact-us {}

	.top-bar__serch {
		flex-basis: 165px;
		display: flex;
		align-items: center;
		padding: 25px;
	}

	.top-menu__ul a {
		font-family: "Open Sans";
		font-size: 22px;
		font-weight: bold;
	}

	.serch-icon::before{
		content: url(../img/serch.png)
	}
/*------    end top-bar    ------*/

/*-----    start heder    -----*/
	
	.wrap-heder{
		width: 100%;
		height: 777px;
		background-color: rgb(0,0,0);
		display: flex;
		position: relative;
		overflow: hidden;
	}

	.wrap-heder img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: -30px -10px;
		opacity: 0.45;
		position: absolute;
		top: 0px;
		left: 0px;

		transform: scale(1.1,1.1);
	}

	.wrap-main-text-heder{
		position: absolute;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		text-align: center;
		color: #ffffff;
		align-self: center;

	}

	.main-text-heder {
		margin-bottom: 40px;  
		font-size: 50px;
		letter-spacing: 2px;
	}
	.text-heder {
		font-size: 18px;
	}
	.buttons-heder {
		position: relative;
		top: 110px;
	}

	.buttons-heder button{
		width: 220px;
		height: 70px;
		font-size: 22px;
		color: #ffffff;
	}

	#our-services{
		border: 2px solid #ffffff;
		background-color: rgba(255,255,255,0);
		margin-right: 12px;
	}

	#hire-is-now{
		border: none;
		background-color: rgb(0,137,123);
		margin-left: 12px;
	}

	.down-bar{
		position: absolute;
		width: 0px;
		left: -10px;
		right: 0px;
		margin: 0px auto;

		top: 300px;

	}

	.down-bar a::before{
			content: url(../img/down-bar.png)
		}
/*-----    end heder    -----*/

/*-----    start about-us    -----*/
	.wrap-about-us{
		height: 675px;

	}

	.wrap-about-us_text {
		width: 620px;
		margin: 0px auto;
		text-align: center;
		position: relative;
		top: 125px;
	}

	.about-us__title{
		font-size: 30px;
		font-weight: bold;
		display: block;
	}

	.about-us__text{
		font-size: 22px;
		display: block;
		position: relative;
		top: 40px;

	}

	.wrap-designs {
		height: 335px;
		position: relative;
		top: 240px;
		display: flex;
		justify-content: space-evenly;
	}

	.design {
		width: 280px;
		height: 100%;
		text-align: center;
	}

	.design span{
		display: block;
		font-family: "Open Sans";
	}

	.design_title{
		font-size: 20px;
		font-weight: bold;
		position: relative;
		top: 45px;
	}

	.design_text{
		font-size: 15px;
		position: relative;
		top: 80px;

	}
/*-----    end  about-us    -----*/


/*-----    start wrap-services    -----*/

	.wrap-services{
		background: #e4fdf9; 
		width: 100%;
		height: 1435px;
	}

	.wrap-services_text {
			width: 700px;
			min-height: 130px;
			overflow: hidden;
			margin: 0px auto;
			text-align: center;
			position: relative;
			top: 179px;
		}

	.wrap-services__title{
		font-size: 30px;
		font-weight: bold;
		display: block;
	}

	.wrap-services__text{
		font-size: 22px;
		display: block;
		position: relative;
		top: 30px;

	}

	.wrap-cards-product{
		width: 1170px;
		height: 906px;
		left: 0px;
		right: 0px;
		position: relative;
		top: 285px;		
		margin: 0px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;

	}

	.card-product {
		width: 370px;
		height: 435px;
		background: #ffffff;
		text-align: center;
	}

	.card-product__icon {
		margin: 60px 0px 40px 0px;
	}

	.card-product__title {
		font-size: 20px;
		font-weight: bold;
	}

	.card-product__text {
		font-size: 15px;
		margin: 30px 50px 45px 50px;
	}

	.card-product__button {
		border: 2px solid black;
		height: 55px;
		width: 150px;
		font-size: 20px;
		font-weight: bold;
	}

	.card-product:hover,
	.card-product__title:hover,
	.card-product__text:hover{
		background: #00897b;
		color: #ffffff;
	}

	.card-product:hover button{
		border: 2px solid #ffffff;
		background: #00897b;
		color: #ffffff;
		cursor: url(../img/cursor.png), pointer;
	}

	.card-product span::before{
			content: url(../img/card-product.png)
		}

	.card-product:hover span::before{
			content: url(../img/card-product-white.png)
		}


/*-----    end  wrap-services    -----*/

.wrap-latest-works{
	border: 1px solid #2AF886;
	/*background: #A2A29D;*/
	width: 100%;
	height: 1414px;
}

.wrap-prising-plan{
	border: 1px solid #A38BFA;
	/*background: #A2A29D;*/
	width: 100%;
	height: 1414px;
}

.wrap-our-team-member{
	border: 1px solid #766888;
	/*background: #A2A29D;*/
	width: 100%;
	height: 1094px;
}

.wrap-blog{
	border: 1px solid #FD5454;
	/*background: #A2A29D;*/
	width: 100%;
	height: 1870px;
}

.wrap-contact-as{
	border: 1px solid #FFC619;
	/*background: #A2A29D;*/
	width: 100%;
	height: 1255px;
}

.wrap-all-rights-reserved{
	border: 1px solid #FFC619;
	/*background: #A2A29D;*/
	width: 100%;
	height: 63px;
}

