
/*установить модель расчёта размеров блоков*/
html{	
	box-sizing: border-box;

	font-family: 'Segoe WP N', sans-serif;

}
*,*::before,*::after{
	box-sizing: inherit;

}

/*настройки для картинок*/
img {
	max-whith: 100%;	
	hight: auto;
}

/*подключение шрифтов*/

	.wrap-main {
		width: 100%;
		min-height: 1200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}


	a{
		text-decoration: none;
		color:#717171;
	}

/*------------- start wrap-top-header -------------*/

	.wrap-top-header {
		/*border: 2px solid blue;*/
		width: 975px;
		height: 70px;	
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.wrap-logo {
		width: 175px;
		height: 30px;
		position: relative;
	}

	.wrap-logo img{
		position: absolute;
		left: 0px;
		right: 0px;
		margin: 0px auto;	
	}	

	.wrap-top-menu {
		width: 370px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.wrap-top-menu ul {
		display: flex;
		justify-content: flex-start;
		flex-grow: 1;
	}

	.wrap-top-menu li{
		margin-right: 30px;
		font-size: 16px;
		color: #717171;
	}

	.wrap-top-menu button{
		width: 100px;
		height: 31px;
		background: #33abf5;
		color: #ffffff;
		border: none;
		border-radius: 5px;
	}
/*------------- end wrap-top-header -------------*/

/*------------- start wrap-header -------------*/
	.wrap-header {
		/*border: 2px solid green;*/
		width: 100%;
		height: 536px;
		position: relative;
		overflow: hidden;
	}

	.wrap-header img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 0px -10px;
	}

	.wrap-header-text {
		position: absolute;
		width: 870px;
		height: 100px;		
		left: 0px;
		right: 0px;
		margin: 0px auto;
		top: 170px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.wrap-header-text span{
		display: block;
		color: #ffffff;
		text-transform: uppercase;
	}

	#header-text-title{
		font-size: 54px;
		font-weight: bold;
		letter-spacing: 0.31px;
		
		margin-top: -10px; 
		margin-bottom: 10px; 
	}

	#header-text-text{
		font-size: 46px;
	}

	.wrap-button {
		position: absolute;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		top: 305px;
		width: 287px;
		height: 68px;
		border-radius: 10px;	
	}

	.wrap-button{
		border: 6px solid rgba(0, 0, 0, 0.12);
	}

	.button-header{
		color: #ffffff;
		font-size: 35px;
		font-weight: bold;
		border: none;
		width: 100%;
		height: 100%;
		border-radius: 6px;
		background: #5ac545;		
		background: linear-gradient(to top, #34ae22, #6ed258);
	}


/*------------- end wrap-header -------------*/



/*------------- start slider -------------*/

	.slider {
		position: absolute;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		top: 480px;
		width: 480px;
		height: 245px;		
		border-radius: 6px;
		background: #ffffff; 
		color: #afafaf;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.12);
		border-bottom: 7px solid #51c03d;
		z-index: 10;
	}

	.wrap-slider__text {
		font-size: 22.35px;
	}

	.wrap-slider__cards {
		width: 425px;
		height: 150px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
	}

	.slider__card {
		width: 80px;
	}

	.wrap-text-card {
		color: #afafaf;
	}

	.slider a{
		text-decoration: none;
	}

/*------------- end slider -------------*/

/*------------- start wrap-main-block -------------*/


	.wrap-main-block {
		width: 100%;
		height: 570px;
		position: relative;
		background: #ececec;
	}

	.wrap-main-text,
	.main-cards {
		width: 680px;
		height: 55px;	
		position: absolute;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		top: 215px;
		display: flex;
		justify-content: space-between;		
		color: #afafaf;
	}

	.wrap-main-text{
		flex-direction: column;
	}

	.wrap-main-text span{
		text-align: center;
		font-size: 23px;
		
	}	

	#main-text__title{
		font-size: 24.5px;
	}

	.main-cards {
		top: 325px;
		height: 172px;
	}

	.main-block__card{
		width: 137px;
		height: 170px;	
		display: flex;
		flex-direction: column;
		justify-content: space-between;		
	
	}

	.wrap-icon{
		position: relative;
		width: 137px;
		height: 135px;
	}

	.wrap-icon img{
		position: absolute;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		top: 50%;	
		transform: translate(0, -50%);	
	}

	.wrap-text{
		width: 100%;
		height: auto;
		font-size: 20px;
		text-align: center;
	}


/*------------- end wrap-main-block -------------*/

	.wrap-footer {
		background: #414141;
		width: 100%;
		height: 30px;
		color: #afafaf;
		position: relative;
	}

	.wrap-text-footer {
		position: absolute;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		top: 50%;	
		transform: translate(0, -50%);	
		text-align: center;
	}






